html,body{
  font-family: 'Open Sans', serif;
  font-size: 11px;
  font-weight: 300;
 background-color: #cccccc;
    position: relative;
    scroll-behavior: smooth;
  height: 100%; 
  width: 100%;
  border: 0;
  margin: 0;
}
@font-face {
  font-family: Montserrat;
  src: url(fonts/Montserrat-Light.ttf)
}
@font-face {
  font-family: "Open Sans script=latin rev=1";
  src: url(fonts/OpenSans-VariableFont_wdth,wght.ttf)
}
div::-webkit-scrollbar {
  display: none;
}
.imgser{
  position: relative;
  display: flex;
  height: 493px;
  z-index: 1;

}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 5em; /
  left: 0;
  top: 0;
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
  position: relative;
    text-align: left;
  background-color: #fefefe;
  margin: auto;
  height: 70em;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  margin-right: .2em;
  font-size: 50px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {

  background-color: #5cb85c;
  color: white;
}

.modal-body { 
    position: relative;
    
  }
  .txt1{

    color: #1C1C1C;
    font-family: "Open Sans script=latin rev=1";
    font-size: 25.0pt;
    font-weight: 700;
    margin-right: 40em;
  
  }
  .txt2{

    color: #1C1C1C;
    font-family: "Open Sans script=latin rev=1";
font-weight: 500;
    font-size: 18px;
    line-height: auto;
  
  }

.modal-footer {
  padding: 0.2em 1em;
  background-color: white;
  color: white;